
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<table class="table table-striped table-bordered">
    <tr>
        <td>t1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
    </tr>
    <tr>
        <td>t2</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
    </tr>
</table>

